@page "/test"

<PageTitle>Test</PageTitle>

<p>test</p>

<input id="pass" type="password" @bind="password" />

<p id="text"></p>

<input type="hidden" @bind="password" />

<script>
    var elm = document.getElementById('pass');
    alert(elm.nodeValue);
</script>

@code{
    private string? password;
}

